<div class="login"><h1> To add or update items, please login:</h1>

<p class="error"><%= @fail_message %><%= @logout_message %></p>
<p>
<br>
<form action="/user_verification">
  <strong>Email:</strong><br><br>
  <input type="email" name="email" required autofocus><br><br>
  <strong>Password:</strong><br><br>
  <input type="password" name="password" required><br><br>
  <input type="submit" class="navbutton" value="SUBMIT">
</form>
<br>
<br></div>