<div class="login"><h1> To add or update items, please login:</h1>

<p class="error"><%= @fail_message %><%= @logout_message %></p>
<p>
<br>
<form action="/user_verification">
  Username:
  <input type="text" name="username"><br><br>
  Password:
  <input type="password" name="password"><br><br>
  <input type="submit" class="navbutton" value="SUBMIT">
</form>
<br>
<br></div>