<div class="search"><h1><%= "#{@sucess_message}" %></h1>
<hr></hr><br>
<p align="center"><strong>EXCERPT</strong></p>
<p>"<%= "#{@new_excerpt.excerpt}" %>"</p>
<p align="right">- <em><%= "#{@new_excerpt.source}" %></em>, <%= "#{@person}" %><br></p>
<hr></hr>
<h3><em>Thank you!</em></h3>
<p>Now, <a href="/assign_tag">add some keywords</a> to describe this excerpt.</p>
<div class="bottomspacer"</div>
<div class="bottomspacer"</div>
<div class="bottomspacer"</div>
<div class="bottomspacer"</div>
<div class="bottomspacer"</div>