<!DOCTYPE HTML>
<div id="wrapper"><html lang="en">
<head>
<title>Daily Feminist Affirmation</title>
<meta name="description" content="Everyone needs a little more feminism in their lives. "/>

<link rel="stylesheet" href="/css/style3.css" type="text/css" media="screen" title="no title" charset="utf-8">

</head>

<div id="header" link="#000000" vlink="#000000" alink="#000000">

<h4 class="headerheading">DAILY FEMINIST AFFIRMATION</h4>
  <hr></hr>
</div>

<div class="reaffirm"><a href="/admin/update_database" class="navbutton2">UPDATE<br>DATABASE</a><br><div class="searchnavbuttonlogin"><a href="/search" class="navbutton3">SEARCH</a></div></div>



<div main>
<body class="standard" link="#000000" vlink="#000000" alink="#000000">
  
  


<%= yield %>




</body>
</div>

</div>

<div id="footer"> <hr>
<h4 class="footerfooting"><a href="/logout">LOGOUT</a></h4> <!-- MAKE SO THAT CHANGES FROM login TO logout WHEN, YOU KNOW, SOMEONE IS LOGGED IN WHO COULD LOGOUT. -->

</div>






</html>