<div class="seach"><h1>Welcome, <%= @username %>!</h1>
<p>What would you like to do today?</p>
<p><strong>Add a new item:</strong></p>
<ul>
  <li><a href="/user/excerpt/new_excerpt">Excerpt</a></li>
  <li><a href="/user/term/new_term">Term</a></li>
  <li><a href="/user/quote/new_quote">Quote</a></li>
  <li><a href="/user/person/new_person">Person</a></li>
</ul>
<p><strong>Update an existing item:</strong></p>
<ul>
  <li><a href="/user/excerpt/update_excerpt">Excerpt</a></li>
  <li><a href="/user/term/update_term">Term</a></li>
  <li><a href="/user/quote/update_quote">Quote</a></li>
  <li><a href="/user/person/update_person">Person</a></li>
</ul>
<p><strong>Update tags:</strong></p>
<ul>
  <li><a href="/user/tag/new_tag">Add tags</a></li>
  <li><a href="/user/tag/assign_tag">Assign tags to items</a></li>
</ul></div>
<div class="bottomspacer"></div>