<form action="<%= "#{@path}" %>">

<p>Click the text that matches the beginning of the excerpt you want to update:</p>
<form>
<select name="ex_text">
<p><% @text_array.each do |s| %>
  <option value="<%= "#{s}" %>"><%= "#{s.byteslice(0...30)}" %></option>
  <% end %></p>
</select>
<br><br>
<input type="hidden" name="action" value="update">
<input type="hidden" name="action" value="update">
<input type="submit" class="navbutton" value="SUBMIT">
<br><br>
</form> 



