<div class="search"><h1>Search by keyword</h1><br>
  


<form action="/keyword">
<br><select name="keyword">
<% @keywords.each do |object| %>
<option value="<%= object.keyword %>"><%= object.keyword %></option>
<% end %>
</select>
<br><br>

<input type="submit" class="navbutton" value="VIEW">
<br><br>
</form> 
<br><br></div>
  